@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/User_Layout_ar.cshtml";
}

<!-- Start Articles -->
<section class="articles">
    <div class="container">
        <h2>المقالات</h2>
        <div class="owl-carousel articles-carousel">
            <div class="card article-card">
                <img src="~/assets/images/p1.jpg" class="card-img-top" alt="img1">
                <a class="heart-icon">
                    <button class="btn">
                        <i class="far fa-heart"></i>
                    </button>
                </a>
                <div class="card-body">
                    <h5 class="card-title">كن بطلا</h5>
                    <p class="card-text">
                        يلهم نجوم Doctor Strange in the Multiverse of Madness الجمهور "ليصبحوا أبطالًا في الحياة الواقعية" من خلال التبرع بالدم بينما تتعاون NHS مع Marvel Studios
                    </p>
                    <a href="#" class="btn btn-primary">التفاصيل</a>
                </div>
            </div>
            <div class="card article-card">
                <img src="~/assets/images/p2.jpg" class="card-img-top" alt="img1">
                <a class="heart-icon">
                    <button class="btn">
                        <i class="far fa-heart"></i>
                    </button>
                </a>
                <div class="card-body">
                    <h5 class="card-title">كن متبرعا</h5>
                    <p class="card-text">
                        سيتم استخدام حوالي مليون تبرع بالدم سنويًا في صناعة أدوية البلازما المنقذة للحياة
                    </p>
                    <a href="./article-details.html" class="btn btn-primary">التفاصيل</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Articles -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
             integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
             crossorigin="anonymous"></script> -->
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
        crossorigin="anonymous"></script>
<script src="~/assets/plugins/OwlCarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/e9c094e37f.js" crossorigin="anonymous"></script>
<script src="~/assets/js/main.js"></script>











