
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="signup">
    <div class="container">
        <nav class="pt-4" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-edit">
                <li class="breadcrumb-item"><a href="Login-en.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </nav>
        <table class="table">
            <tr>
                <td>
                    <div class="text-center">
                        <a href="/Donors/Login" class="btn btn-primary"><input type="submit" value="Donors" class="btn btn-default" /></a>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <a href="/Hospitals/Login" class="btn btn-primary"><input type="submit" value="Hospitals" class="btn btn-default" /></a>
                    </div>
                </td>
              
            </tr>
            <tr>
                <td>
                    <div class="text-center">
                        <a href="/BloodBanks/Login" class="btn btn-primary"><input type="submit" value="Blood banks" class="btn btn-default" /></a>
                    </div>
                </td>
                
                <td>
                    <div class="text-center">
                        <a href="/Staffs/Login" class="btn btn-primary"><input type="submit" value="Staff" class="btn btn-default" /></a>
                    </div>
                </td>
            </tr>
        </table>
        <hr />
    </div>
</div>
